body {
	background-color: #8AE8E0;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: purple;
	font-size: 50px;
	text-align: center;
	text-shadow: 2px 2px #AF93E5;
}

h2 {
	font-family: 'Raleway', sans-serif;
	color: purple;
	font-size: 30px;
}

p1 {
	font-family: 'Raleway', sans-serif;
	color: purple;
	font-size: 25px;
}

p2 {
	font-family: 'Raleway', sans-serif;
	color: #443959;
	font-size: 20px;
}

#button {
	font-family: 'Raleway', sans-serif;
	color: #787675;
	margin-right: 50px;
	text-decoration: none;
	margin-bottom: 15px;
	margin-top: 15px;
}

.dropbtn {
    background-color: #2AB8B1;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #1F8782;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
	font-family: 'Raleway', sans-serif;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #443959;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}