body{
	background: url('../img/brickwall.png');
	font-family: "Architects Daughter";
	text-align: center;
	margin-right: -1900px;
	width: 100%;
	margin: 0;
}

h1 {
	font-family: "Architects Daughter";
	color: navy;
	text-align: center;
	font-size: 40px;
	margin-top: 70px;
}

h2 {
	font-family: "Architects Daughter";
	font-size: 28px;
	color: #9edeb0;
	text-align: center;
}


p {
	font-family: "Architects Daughter";
	font-size: 18px;
	color: #000067;
	text-align: center;
}

.content{
	margin: 0 auto;
	width: 1040px;
}

a.rpanel {
	float: left;
	color: green;
	font-size: 12px;
	font-family: sans-serif;
	text-decoration: none;
	margin: 7px 11px;
}

a. lpanel:hover{color: white;}
a. rpanel:hover{ color: white;}

#header {
	background: url("../img/header-bg.png");
	width: 100%;
	height: 40px;
	position: fixed;
	margin-top: -70px;
}


#nav {
	width: 800px;
	float: right;
	margin-top: -4px;
}

#nav ul {
	list-style: none;
	display: block;
	margin: 0 auto;
}

#nav li {
	margin-top: 9px;
	float: left;
	padding-left: 21px;
}

#nav li a.active {
	color: #9edeb0;
	opacity: 1;
}

#nav li a{
	color: #9edeb0;
	opacity: 1;
	font-size: 20px;
	text-decoration: none;
	font-family: "Architects Daughter";
}

#nav li a.hover {
	color: navy;
	opacity: 1;
}

#slide1{
	background: url('../img/brickwall.png');
	background-position: fixed;
	width: 100%;
	
}

#slide2{
	background:url('../img/brickwall.png');
	background-position: fixed;
	width: 100%;
}

#slide3{
	background: url('../img/brickwall.png');
	background-position: fixed;
	width: 100%;
}

#circle-1{
	border-radius: 50% 50% 50% 50%;
	width: 200px;
	height: 200px;
}


#circle {
	border-radius:50% 50% 50% 50%;  
	width:100px;
	height:100px;
}

.rounded-1 {
	border-radius: 25px;
	width: 300px;
	height: 450px;
}


#rounded {
	border-radius: 25px;
	width: 500px;
	height: 300px;
}

