/*This is the stylesheet for biography*/
.top-spacer {
	width: 100%;
	height: 30px;
}

.header h1 {
	font-family: Garamond;
}

.header {
	text-align: center;
}

.header a {
	color: #0079c1;
}

.header a:hover {
	color: #0079c1;
	text-decoration: overline;
}

.spacer1 {
	width: 100%;
	height: 40px;
}

.image {
	text-align: center;
}

.image img {
	height: 618px;
	border-radius: 75px;
}

.image2 {
	text-align: center;
}

.image2 img {
	height: 80px;
}


.spacer2 {
	width: 100%;
	height: 30px;
}

.footer {
	text-align: center;
	color: #ffffff;
	background-color: #0079c1;
}

.footer a {
	color: #ffffff;
}

.footer a:hover {
	color: #ffffff;
}

a:visited {
	color: #9B30FF;
}



/* Dropdown Button */
.dropbtn {
    background-color: #0079c1;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #0079c1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1; text-decoration: none;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}




