/*Improvements page CSS */
.top-spacer {
	width: 100%;
	height: 30px;
}

.header {
	text-align: center;
}

.header h1 {
	font-family: Garamond;
}

a:hover {
	color: purple;
	text-decoration: none;
}

.main .row {
	text-align: center;
	font-family: helvetica;
}

#search-bar {
	height: 80px;
}

#search-bar-fixed {
	height: 80px;
	margin-top: 43px;
}

#headlines {
	height: 400px;
}

#headline-example {
	font-size: 24px;
}

#layout-img {
	height: 400px;
}


.main-spacers {
	width: 100%;
	height: 20px;
}

.main-spacers1 {
	width: 100%;
	height: 7px;
}

.bar {
	width: 100%;
	height: 2px;
	border: 1px solid #7e7e7e;
}

.footer p {
	margin-top: 10px;
}

.footer a {
	color: #55acee;
}

/*
.col-md-6 {
	border: 1px solid red;
}
*/