body {
	margin: 10px;
	padding: 10px;
	width: 97%;
	background-color: #00004d;
}

h1 { 
    font-family: "Josefin-Sans";
	font-weight: normal;
	font-size: 60px;
	text-align: center;
	color: yellow;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: Tahoma;
	font-weight: normal;
	font-size: 30px;
	text-align: center;
	color: yellow;
	margin: 0;
	padding: 0;
}

h3 {
	font-family: Tahoma;
	font-weight: normal;
	font-size: 30px;
	text-align: center;
	color: #00004d;
	margin: 0;
	padding: 0;
}

p1 { 
    font-family: Times;
	font-weight: normal;
	font-size: 22px;
	text-align: left;
	color: white;
	margin: 0;
	padding: 0;
}

p2 { 
    font-family: Times;
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	color: yellow;
	margin: 0;
	padding: 0;
}

p3 { 
    font-family: Times;
	font-weight: normal;
	font-size: 22px;
	text-align: left;
	color: yellow;
	margin: 0;
	padding: 0;
}

p4 {
	font-family: Times;
	font-weight: normal;
	font-size: 22px;
	text-align: left;
	color: #00004d;
	margin: 0;
	padding: 0;
}

a {
	font-family: Arial;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	color: green;
	margin: 0;
	padding: 0;
}