body{
	background-color: #333333;
}
.toplink{
	margin-top: 0;
	height:50vh;
	width:50%;
}
.toplink h1{
	font-size: 3em;
	position:relative;
	top:35%;
	text-align: center;
	font-family: helvetica;
}
#toplink_left{
	color: #6599FF;
	background-color: #ffc34d;
}

#toplink_right{
	background-color: #443266;
	color: #C3C3E5;
}
#intro{
	height:50vh;
	width:100%;
	background-color: #66CCFF;
}
#intro h1{
	letter-spacing: 1px;
	margin-top: 0;
	position:relative;
	top:40%;
	padding:0;
	color:#003399;
	text-align: center;
	font-size: 4em;
	letter-spacing: 2px;
	font-family: raleway;
	padding-bottom: 0px;
}
#down{
	outline: none;
	position:relative;
	top:45%;
	font-size: 20px;
	height:60px;
	display:block;
	border:none;
	width:200px;
	margin:0 auto;
	background-color: #e74b80;
	color: white;
	border-radius: 200px 200px 200px 200px;
	font-family: montserrat;
	text-align: center;
	vertical-align: center;
}
#down:hover{
	-webkit-transition: color .50s, background-color .50s;
	-moz-transition: color .50s, background-color .50s;
	background-color: white;
	color: #e74b80;
}
@media (max-width: 980px){
	.toplink{
		width:100%;
	}
}

#biography{
	display: inline-block;
	margin-top:0px;
	background-color: #E6E6DC;
	min-height: 100vh;
	overflow:auto;
	width:100%;
}

#biography h1
{
	font-weight: 800;
	font-size: 2.5em;
	text-align: center;
	letter-spacing: 3px;
	color: #00628B;
	font-family: raleway;
}

.description{
	color:black;
	font-family: "Open sans";
	width: 90%;
	text-align: justify;
	font-size: 1.9em;
	margin: 0 auto;
}
.center-block{
	float:none;
	margin: 0 auto;
}
.artist_name{
	color: #004C70;
	text-align: center;
	display:block;
	font-size: 1.4em;
}
