#spin {
	position:relative;
	top:200px;
	display:block;
	margin: 0 auto;
}

#spinner{
	outline: none;
	position:relative;
	top:300px;
	font-size: 20px;
	height:60px;
	display:block;
	border:none;
	width:200px;
	margin:0 auto;
	background-color: #2F4E6F;
	color: #e74b80;
	border-radius: 200px 200px 200px 200px;
	font-family: montserrat;
	text-align: center;
	vertical-align: center;
}
#spinner:hover{
	-webkit-transition: color .50s, background-color .50s;
	-moz-transition: color .50s, background-color .50s;
	background-color: #e74b80;
	color: #2F4E6F;
}