html{
    text-align: center;
    background: #2A2A2B;
    font-size: 40px;
    font-family: courier;
    overflow-x: hidden;
}
a:hover, a:link, a:visited, a:active{
    text-decoration: none;
    color: #000;
}
body{
    margin: 0;
}
h3{
    /*color: #B5BD68;*/
    color: #4271AE;
    margin: 0;
    font-size: 30px;
    display: inline-block;
}
#id_TitleWrap{
    background: #1D1F21;
    height: 100px;
    margin: 0;
    border-bottom: 1px solid #BBB;
}
#id_TitleHeading{
    font-size: 45px;
    color: #EFEFEF;
    display: inline-block;
    min-width: ;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.c_TagSpan{
    /*color: #C82829;*/
    color: #C66;
    font-family: courier;
}
#id_LineNumberOne{
    top: 50%;
    transform: translateY(-50%);
}
.c_LineNumber{
    font-size: 50px;
    display: inline-block;
    color: #EFEFEF;
    float: left;
    position: relative;
    left: 10px;
    font-family: courier;
}
#id_Blinker{
    color: #EFEFEF;
    display: inline-block;
    font-size: 50px;
    -webkit-animation: TextBlink 1s infinite;
}
@-webkit-keyframes TextBlink {
    0% { opacity: 1.0; }
    20% { opacity: 0.0; }
    40% { opacity: 0.0; }
    60% { opacity: 0.0; }
    80% { opacity: 1.0; }
    100% { opacity: 1.0; }
}

#container{
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}
.loading{
    margin-top: 10em;
    text-align: center;
    color: gray;
}
#id_ResultDisp{
    color: #8ABEB7;
    font-size: 100px;
    font-family: "Lobster";
}
#id_CountryDisp{
    color: #FFF;
    font-size: 80px;
    position: absolute;
    display: inline-block;
    transform: translateX(-50%);
    top: 40%;
}
#id_MapWrap{
    text-align: center;
    position: relative;
}

button{
    background: #FFF;
    outline: none;
    height: 30px;
    width: 20%;
    border-radius: 0px;
    border: none;
    transition: all 0.2s linear 0s;
}
.c_MapButtons:hover{
    border: 1px solid #FFF;
    box-shadow: 0 0 5px #FFF;
    background: #DE935F;
}
#id_ReturnButton{
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-right-radius: 5px;
    border-top: 3px solid #8ABEB7;
    border-right: 3px solid #8ABEB7;
    background: #689C95;
    color: #282A2E;
    height: 40px;
    display: block;
    width: 120px;
    padding: 0;
    font-size: 20px;
    line-height: 40px;
    font-family: helvetica;
}
#id_ReturnButton:hover{
    border-top: 3px solid #8ABEB7;
    border-right: 3px solid #8ABEB7;
    background: #578B84;
    color: #EFEFEF;
}