.footer_class{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;

    padding: 45px;
    margin-top: 80px;
}

.footer_class .msg_footer{
    color:  #8d9093;
    font-size: 24px;
    margin: 0;
}

.footer_class .info_footer{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
}

.footer_class .links_footer{
    list-style: none;
    font-weight: bold;
    color:  #ffffff;
    padding: 35px 0 23px;
    margin: 0;
}

.footer_class .links_footer a{
    display:inline-block;
    text-decoration: none;
    color: inherit;
}
footer {
    bottom: 0;
}