#canvas_div {
	margin-top: 70px;
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
}
#canvas_text {
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
}
#bug_text {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	color: #a7a7a7;
}
#canvas_text {
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
}
#title_text {
	margin-top: 75px;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 50px;
	display: inline-block;
	vertical-align: top;
}
#start_button {
	float: left;
	border: solid;
	padding: 2px;
}